export(
       "classW",
       "functionClassicA",
       "classCreator",
       "detectGlobal",
       "tryBug"
       )
exportMethods(
    "[",
    "[<-",
    "plot",
    "publicA",
    "publicB"
)
exportClasses(
     "ClassV",
     "ClassW"
)

import(methods,graphics,codetools)
