export(
       "classW",
       "functionClassicA",
       "classCreator"
       )
exportMethods(
    "[",
    "[<-",
    "plot",
    "publicA",
    "publicB"
)
exportClasses(
     "ClassV",
     "ClassW"
)

import(graphics)
